// COLORS
$white: white;

$white_20: rgba(255, 255, 255, 0.2);
$black_20: rgba(0, 0, 0, 0.2);

$grey-light: #ccc;
$grey-dark: #555;
$grey-dark-2: #222;

$red: red;


// IMPORT
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

// SCSS
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;

}

body {
	font-family: "Roboto", sans-serif;
    user-select: none;
}

main {
	width: 100%;
	margin: 50px auto;
	display:flex;
}

h1 {
	font-family: 'Overpass Mono', monospace;
	padding: 50px 0 20px;
	text-transform: uppercase;

    font-size: 2.2em;
    
	span {
		font-weight: 300;
	}
}
h2{
	font-family: 'Overpass Mono', monospace;
	font-size:32px;
	width:100%;
	text-align:center;
}

header{
	margin-left:15px;
	width:950px;
	text-align: center;
}
.toolbar {
	margin:0 15px;
	width:250px;
	border-right:7px solid #605856;
	border-bottom:7px solid #605856;
	border-top:7px solid #D0CCD0;
	border-left:7px solid #D0CCD0;
	input{
		display: none;
	}

	div{
		margin:15px 0;
	}
	&--button{
		content:"";
		width:60px;
		height:60px;
		margin:0 auto;
		display: block;
		border-right:4px solid #605856;
		border-bottom:4px solid #605856;
		border-top:4px solid #D0CCD0;
		border-left:4px solid #D0CCD0;
		position: relative;
		background-repeat: no-repeat;
		background-size:80%;
		background-position: center;
		&__room{
			background-image:url(https://image.flaticon.com/icons/svg/562/562659.svg);
		}
		&__door{
			background-image:url(https://image.flaticon.com/icons/svg/475/475698.svg);

			&:after{
				content:"";
				display:block;
				width:15px;height:15px;
				background-image:url(https://image.flaticon.com/icons/svg/109/109526.svg);
				background-size:80%;
				background-position:center;
				background-repeat:no-repeat;
				position:absolute;
				right:5px;
				top:5px;
				background-color:#fff;
			}
		}
		&__window{
			background-image:url(https://www.flaticon.com/premium-icon/icons/svg/796/796615.svg);
			&:after{
				content:"";
				display:block;
				width:15px;height:15px;
				background-image:url(https://image.flaticon.com/icons/svg/109/109526.svg);
				background-size:80%;
				background-position:center;
				background-repeat:no-repeat;
				position:absolute;
				right:5px;
				top:5px;
				background-color:#fff;
			}
		}

		&__delete{
			background-image:url(https://image.flaticon.com/icons/svg/446/446046.svg);
		}
	}
	#newHome{
		background-image:url(https://image.flaticon.com/icons/svg/899/899205.svg);
	}
	#newLayer{
		background-image:url(https://image.flaticon.com/icons/svg/958/958877.svg);
	}
	&--buttonLabel{
		font-size:18px;
		text-align: center;
		width:100%;
		display:block;
		font-weight:300;
	}
}

label {
	margin: 0 15px 0 0;
}

.svg-wrapper {
	width: 700px;
	height: 500px;
}

.svg {
	border: solid 1px $grey-light;
	width: 100%;
    height: 100%;
    
	ellipse {
		display: none;
    }
    
	.room {
		position: relative;
		fill: $white_20;
		stroke: $grey-dark-2;
		stroke-width: 2px;
    }
    
	.desc {
		font-size: 13px;
		font-weight: bold;
    }
    
	.size {
		font-size: 13px;
    }
    
	.preview {
		fill: $black_20;
		stroke: $grey-dark;
		stroke-width: 2px;
    }
    
    &:hover {
       
		ellipse {
			display: block;
		}
    }
}