// COLORS
$white: white;

$white_20: rgba(255, 255, 255, 0.5);
$black_20: rgba(0, 0, 0, 0.2);

$grey-light: #ccc;
$grey-dark: #555;
$grey-dark-2: #222;

$red: red;

// IMPORT
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

// SCSS
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	user-select: none;
}

main {
	width: 900px;
	margin: 50px auto;
}

h1 {
	padding: 50px 0 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;

	span {
		font-weight: 300;
	}
}

.toolbar,
.buttons {
	margin: 15px 0;
}

label {
	margin: 0 15px 0 0;
}

.select-dialog {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $black_20;
	display: none;

	&-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -75px;
		width: 150px;
		height: 90px;
		padding: 10px;
		background: $white;
		border: solid 1px $grey-light;
		border-radius: 3px;
	}

	input,
	select {
		width: 100%;
		padding: 5px 10px;
	}

	:not(:last-child) {
		margin: 0 0 10px 0;
	}
}

.svg-wrapper {
	width: 100%;
	height: 400px;
	position: relative;

	> svg {
		position: absolute;
		background-color: $white;
		border: solid 1px $grey-light;
		width: 100%;
		height: 100%;

		ellipse {
			display: none;
		}

		.door {
			fill: $grey-dark-2;
		}

		.window {
			fill: rgba(255, 255, 255, 0.8);
		}

		.room {
			fill: $white_20;
			stroke: $grey-dark-2;
			stroke-width: 2px;
		}

		.desc {
			font-size: 11px;
			font-weight: bold;
		}

		.size {
			font-size: 11px;
		}

		.preview,
		.previewPolygon {
			fill: $black_20;
			stroke: $grey-dark;
			stroke-width: 2px;
		}

		.previewPolygonHandle {
			fill: transparent;
			stroke: $grey-dark;
			stroke-width: 2px;
		}

		&:hover {

			ellipse {
				display: block;
			}
		}
	}
}

button,
input {
	padding: 5px 10px;
}

.layerList {
	list-style-type: none;

	&Title {

	}

	&Entry {
		margin-left: 10px;
	}
}